/*header*/

header {
  background-image: linear-gradient(to top right, #660066 30%, #993366 70%);
}

.media .index {
  max-width: 10rem;
  max-height: 10rem;
}

.media .views {
  max-width: 10rem;
  max-height: 10rem;
}

.mt-0 {
  color: white;
}
.mb-0 {
  color: #e5bbd2;
}

/*nav*/

nav {
  position: right;
  text-decoration: none;
  background-color: #660066;
  color: white;
  margin-bottom: 3rem;
}

nav .active {
  background-color: white;
}

a .active {
  color: #660066;
}

a {
  color: white;
}

a:hover {
  color: white;
}
.supprimer {
  color: black;
}
/*formulaire*/

form {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

form-group {
  width: 90%;
}

form input{
  border-color: #660066;
}

.btn {
  background-color: #660066;
  border-color: #660066;
}

/*Liste*/
main {
  color: #660066;
}
#table {
  width: 90%;
}

/*footer*/

footer {
  text-align: right;
  margin-right: 3rem;
}
