<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" type="image/png" href="img/RT-logo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Formulaire</title>
</head>

<body>

    <header>
        <div class="media">
            <img src="img/RT-logo.png" class="align-self-center mr-3 views" alt="RT-logo">
            <div class="media-body">
                <h1 class="mt-0">Serveur API</h1>
                <h2 class="mb-0">Ici retrouvez le formulaire d'enregistrement</h2>
            </div>
        </div>
    </header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="users">Liste des adhérents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="formulaire">Formulaire d'adhésion</a>
            </li>
        </ul>
    </nav>
    <form method="POST" action="/users">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputLastName">Nom</label>
                <input type="text" id="nom" name="nom" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="inputFirstName">Prénom</label>
                <input type="text" id="prenom" name="prenom" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputZip">Code postal</label>
                <input type="text" class="form-control" id="zipcode" name="zipcode">
            </div>
            <div class="form-group col-md-8">
                <label for="inputCity">Ville</label>
                <input type="text" class="form-control" id="Ville" name="ville">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="exampleInputEmail1">Adresse mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group col-md-4">
                <label for="password">Mot de Passe</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    <footer>
        <p>&copy Rim et Tiphaine</p>
    </footer>
</body>

</html>