<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="img/RT-logo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Accueil</title>
</head>

<body>
    <header>
        <div class="media">
            <img src="img/RT-logo.png" class="align-self-center mr-3 index" alt="RT-logo">
            <div class="media-body">
                <h1 class="mt-0">Serveur API</h1>
                <h2 class="mb-0">RT production vous souhaite la bienvenue</h2>
            </div>
        </div>
    </header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="index">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="users">Liste des adhérents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="formulaire">Formulaire d'adhésion</a>
            </li>
        </ul>
    </nav>
    <footer>
        <p>&copy Rim et Tiphaine</p>
    </footer>
</body>

</html>