<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="img/RT-logo.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>


    <link rel="stylesheet" href="css/style.css">
    <title>Liste</title>
</head>

<body>
    <header>
        <div class="media">
            <img src="img/RT-logo.png" class="align-self-center mr-3 views" alt="RT-logo">
            <div class="media-body">
                <h1 class="mt-0">Serveur API</h1>
                <h2 class="mb-0">Ici retrouvez la liste des adhérents</h2>
            </div>
        </div>
    </header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="users">Liste deus adhérents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="formulaire">Formulaire d'adhésion</a>
            </li>
        </ul>
    </nav>
    <!--json-->
    <!--Affiche la liste des adhérents-->
    <main>
        <table id="table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Email</th>
                    <th>Tél</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <% var ligne=0;
                for (var i in resultat){%>
                <tr>
                    <td><%=resultat[i].nom%></td>
                    <td><%=resultat[i].prenom%></td>
                    <td><%=resultat[i].adresse%></td>
                    <td><%=resultat[i].ville%></td>
                    <td><%=resultat[i].email%></td>
                    <td><%=resultat[i].tel%></td>
                    <td><a class="supprimer" href="/supprimer<%=ligne%>">X</a></td>
                </tr>
                <% ligne++;}%>

            </tbody>
            <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Email</th>
                    <th>Tél</th>
                    <th>Supprimer</th>

                </tr>

            </tfoot>
        </table>
    </main>
    <footer>
        <p>&copy Rim et Tiphaine</p>
    </footer>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "searching": true
            });


        });</script>
</body>

</html>